* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    background: olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    background: slateblue;
    width: 600px;
    padding: 20px;
  }
  
  form input {
    flex: 1;
    border: black;
    outline: none;
  }
  
  form button {
    background: tomato;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer; 
  }
  
  form .fa-search {
    align-self: center;
    padding: 10px 20px;
    color: #777;
  }